.github/

.vs/

bin/
obj/

Migrations/*.Designer.cs

packages/
!packages/repositories.config

project.lock.json
project.assets.json
.vscode/
*.user
*.suo
*.userosscache
*.sln.dotSettings
*.sln.iml

.vs/

.idea/
*.DotSettings.user

resharper.xml

*.tmp
*.log
*.sln.ide

publish/
out/
AppPackages/
TestResults/

Form1.Designer.cs
*.g.cs
*.g.i.cs



secrets.json
appsettings.Development.json

*.dll
*.exe
*.pdb
*.cache

*.orig
/code/Ticketmaster/obj/Debug/net8.0/Ticketmaster.AssemblyInfoInputs.cache
/code/Ticketmaster/obj/Debug/net8.0/Ticketmaster.AssemblyInfo.cs
/code/Ticketmaster/obj/Debug/net8.0/Ticketmaster.GeneratedMSBuildEditorConfig.editorconfig
