.github/

.vs/

bin/
obj/

packages/
!packages/repositories.config

project.lock.json
project.assets.json
.vscode/
*.user
*.suo
*.userosscache
*.sln.dotSettings
*.sln.iml

.vs/

.idea/
*.DotSettings.user

resharper.xml

*.tmp
*.log
*.sln.ide

publish/
out/
AppPackages/
TestResults/

Form1.Designer.cs
*.g.cs
*.g.i.cs



secrets.json
appsettings.Development.json

*.dll
*.exe
*.pdb
*.cache

*.orig