@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="mt-4">
        <a class="btn btn-primary" asp-controller="EmployeeManagement" asp-action="Index">Manage Employees</a>
        <a class="btn btn-secondary" asp-controller="GroupManagement" asp-action="Index">Manage Groups</a>
    </div>
</div>
